<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/HelloServlet/css/style.css">
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Cart Item List</title>
</head>
<body>
	<h1>CartItem</h1>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-sm-6"></div>
			<div class="col-md-9 col-sm-12">
				<form class="form-group" th:action="@{/admin/product/search}"
					method="post">
					<table class="table table-bordered">
						<tr class='table-header'>
							<th>Search</th>
							<th><input type="text" name="keyword"
								placeholder="Enter name to search"></th>
							<th><button class="btn btn-success" type="submit">Search</button>
								|</th>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<ul class="list-group">
					<li class="list-group-item"><a th:href="@{/admin/user/list}">User</a></li>
					<li class="list-group-item"><a
						th:href="@{/admin/product/list}">Product</li>
					<li class="list-group-item"><a
						th:href="@{/admin/category/list}">Category</li>
					<li class="list-group-item"><a class="btn btn-success"
						th:href="@{/admin/product/add}">Add Product</a></li>
					<li class="list-group-item"><a class="btn btn-success" href="">Log
							Out</a></li>
				</ul>
			</div>
			<div class="col-md-9 col-sm-12">
				<h2>Management</h2>
				<table class="table table-bordered">
					<tr class='table-header'>
						<th>ID</th>
						<th>Product</th>
						<th>Quantity</th>
						<th>Price</th>
						<th>Action</th>
					</tr>
					<tr th:each="c :${cartItemList}">
						<td><p th:text="${c.id}"></p></td>
						<td><p th:text="${c.product.name}"></p></td>
						<td><p th:text="${c.quantity}"></p></td>
						<td><p th:text="${c.price}"></p></td>
						<td><a class="btn btn-success"
							th:href="@{'/admin/cart-item/update/'+${c.id}}">Edit</a> | <a
							class="btn btn-danger"
							th:href="@{'/admin/cart-item/delete/'+${c.id}}">Delete</a></td>
					</tr>
				</table>
			</div>
		</div>

	</div>
</body>
</html>